.submenuOnToggle {}

.menuContainer:has(.submenuOnToggle:checked) {
    & > div:not(:has( input.submenuOnToggle:checked)) {
        display: none;
    }
}

.bareContainer, .menuContainer, .containerContainer {
    contain: strict;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
    overflow: hidden;
}

.bareContainer, .menuContainer {
    padding: 0.12rem;
}

.menuContainer {
    overflow: hidden auto;
    scrollbar-gutter: stable both-edges;
}