.textContainer {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    line-height: 1.6rem;
    scrollbar-gutter: stable both-edges;
    padding: 0 1rem;

    p, li, h1, h2, a {
        font-family: var(--font-mono);
        color: var(--color-text);
        text-align: start;
        white-space: pre-wrap;
    }

    em {
        color: var(--color-highlight);
    }

    code {
        padding: 0 0.2rem 0 0.2rem;
        border-radius: 0.2rem;
        background: var(--color-foreground);
        border: 1px solid var(--color-highlight);
    }

    sup, a {
        text-decoration: underline solid var(--color-highlight);
        text-underline-offset: 3px;
    }

    li::marker {
        color: var(--color-highlight);
    }

    li {
        list-style: disc inside;
        text-indent: 1rem;
        margin: 0.62rem 0;

        & :is(li) {
            text-indent: 2.5rem;
        }
    }
}

.p1, .p2, .p3, .p4 {
    margin: 1rem 0;
}

.p1 {
    font-size: 1.6rem;
    line-height: 2;
}

.p2 {
    font-size: 1.2rem;
    line-height: 2;
}

.p3 {
    font-size: 1rem;
    line-height: 1.6;
}

.p4 {
    font-size: 0.72rem;
    line-height: 1;
}

.hr {
    margin: .72rem 0;
}

.h1 {
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.h2 {
    font-size: 1.62rem;
    line-height: 2;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.centered {
    text-align: center !important;
    width: 100%;
}