.textContainer {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;

    p, li, h1, h2, a {
        font-family: var(--font-mono);
        color: var(--color-text);
        text-align: start;
        white-space: pre-wrap;
    }

    sup, a {
        text-decoration: underline solid var(--color-highlight);
        text-underline-offset: 3px;
    }

    li::marker {
        color: var(--color-highlight);
    }

    li {
        list-style: disc inside;
        text-indent: 1rem;
        margin: 1rem 0;

        & :is(li) {
            text-indent: 2.5rem;
        }
    }
}

.p1, .p2, .p3, .p4 {
    margin: .82rem 0;
}

.p1 {
    font-size: 1.2rem;
    line-height: 2;
}
.p2 {
    font-size: 1.02rem;
    line-height: 1.5;
}

.p4 {
    font-size: 0.72rem;
    line-height: 1;
}

.hr {
    margin: .72rem 0;
}

.h1 {
    padding-top: 2.2rem;
}

.h2 {
    font-size: 1.2rem;
}