
.hideCheck:checked ~ input[type="checkbox"]:not(:checked) + div {
    display: none
}

.hideChildren {}
.hideCheck {}

.container {
    height: 100%;
    width: 100%;
}

.submenuOnToggle {}

.container:has(.submenuOnToggle:checked) > div:not(:has( input.submenuOnToggle:checked)) {
    display: none;
}
