.baseButton {
    margin: 0.12rem;
    padding: 0.62rem 1rem;
    user-select: none;
    font-family: var(--font-mono);
    font-size: 1rem;
    background: none;
    border: none;
    color: var(--color-text);
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--color-highlight);
    opacity: 92%;

    transition:
            opacity 0.22s ease-in-out,
            scale 0.22s ease-in-out,
            text-underline-offset 0.22s ease-in-out,
            text-decoration-thickness 0.22s ease-in-out
;

    &:disabled {
        opacity: 42%;
    }

    &:not(:disabled):hover {
        opacity: 100%;
        scale: 112%;
        text-underline-offset: 0.42rem;
        text-decoration-thickness: 3px;
        text-decoration-line: underline;
        cursor: pointer;
    }

    &:not(:disabled):focus {
        opacity: 100%;
        scale: 112%;
        text-underline-offset: 0.42rem;
        text-decoration-thickness: 3px;
        text-decoration-line: underline;
    }

    &:not(:disabled):active {
        transition: text-underline-offset 0.12s;
        scale: 118%;
        opacity: 12%;
        text-underline-offset: 0.08rem;
        text-decoration-thickness: 2px;
        text-decoration-line: underline;
    }
}

button[data-inert] {
    opacity: 42% !important;
    &:hover, &:active, &:focus {
        opacity: 42% !important;
    }
}