.contentArea {
    position: fixed;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:
        min(var(--header-height),var(--header-max-height))
        var(--content-height)
        min(var(--header-height),var(--header-max-height));
    grid-template-areas: "header" "main" "footer";
    margin: var(--margin-y) var(--margin-x);
    height: var(--height);
    width: var(--width);
    box-sizing: border-box;
    border: var(--color-border) solid var(--border-width);
    border-left-width: 0;
    border-right-width: 0;
    border-radius: var(--border-radius);
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.headerBorderContainer, .footerBorderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBorderContainer {
    justify-content: start;
}

.headerBorderContainer {
    justify-content: end;
}

.contentContainer {
    position: relative;
    height: 100%;
    width: var(--content-width);
}