:root {

  --margin-y-base: 6.12vh;
  --margin-x-base: 6vw;
  --margin-y-wide: 4.12vh;
  --margin-x-wide: 9vw;
  --margin-y-desk: 9.12vh;
  --margin-x-desk: calc(2 * 2.12vw + 12vw);
  --margin-y: var(--margin-y-base);
  --margin-x: var(--margin-x-base);

  @media (orientation: landscape) {
    --margin-y: var(--margin-y-wide);
    --margin-x: var(--margin-x-wide);
  }
  @media (min-width: 900px) and (orientation: landscape) {
    --margin-y: var(--margin-y-desk);
    --margin-x: var(--margin-x-desk);
  }

  --border-width: 1px;
  --border-radius: 0.72rem;
  --height: calc(100vh - 2 * var(--margin-y)); /* "calc" is slang for calculator btw */
  --width: calc(100vw - 2 * var(--margin-x));
  --header-height: 2.22rem;
  --header-max-height: calc(var(--height) * 0.22);
  --content-height: calc(var(--height) - 2 * min(var(--header-height), var(--header-max-height)));

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Cascadia Mono", "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

 /* DEFAULTS */
  --color-background: oklch(0.12 0.0288 243.66);
  --color-foreground: oklch(0.02 0.0288 243.66);
  --color-text: oklch(0.97 0.013 243.66);
  --color-border: var(--color-text);
  --color-highlight: oklch(0.81 0.1293 223.68);
  color-scheme: dark;

  /* THEME 1 DARK */
  --color-1-dark-background: oklch(0.12 0.0288 243.66);
  --color-1-dark-foreground: oklch(0.02 0.0288 243.66);
  --color-1-dark-text: oklch(0.97 0.013 243.66);
  --color-1-dark-border: oklch(0.97 0.013 243.66);
  --color-1-dark-highlight: oklch(0.81 0.1293 223.68);

  /* THEME 1 LIGHT */
  --color-1-light-background: oklch(96% 0.03 90);
  --color-1-light-foreground: oklch(82% 0.03 90);
  --color-1-light-text: oklch(20% 0.02 90);
  --color-1-light-border: oklch(20% 0.02 90);
  --color-1-light-highlight:  oklch(60% 0.2 30);

  &[data-theme-variant="dark"] {
    color-scheme: dark;
  }

  &[data-theme-variant="light"] {
    color-scheme: light;
  }

  &[data-theme="default"] {
    &[data-theme-variant="dark"] {
      --color-background: var(--color-1-dark-background);
      --color-foreground: var(--color-1-dark-foreground);
      --color-text: var(--color-1-dark-text);
      --color-border: var(--color-1-dark-border);
      --color-highlight: var(--color-1-dark-highlight);
    }

    &[data-theme-variant="light"] {
      --color-background: var(--color-1-light-background);
      --color-foreground: var(--color-1-light-foreground);
      --color-text: var(--color-1-light-text);
      --color-border: var(--color-1-light-border);
      --color-highlight: var(--color-1-light-highlight);
    }
  }

  &[data-styling] {
    #root {
      display: none;
    }
  }

  & * {
    scrollbar-width: thin;
  }

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  contain: strict;
}

body {
  color: var(--color-text);
  font-family: var(--font-mono);
  background-color: var(--color-background);
  border-color: var(--color-border);
}

a {
  color: inherit;
  text-decoration: none;
}

/* #### */



/*
 * UTILITIES
 */

.inline {
  display: inline;
}

.hidden {
  display: none
}

.contents {
  display: contents;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.center-self {
  place-self: center;
}

.center-children {
  justify-content: safe center;
  justify-items: safe center;
  align-content: safe center;
  align-items: safe center;
}

.relative-container {
  position: relative;
  contain: strict;
  height: 100%;
  width: 100%;
}

.absolute-underlay {
  position: absolute;
  z-index: -1;
  inset: 0 0;
}

.hr, .hr2 {
  height: 0;
  border-bottom: var(--color-border) solid 1px;
}

.hr {
  width: calc(72% + 2 * 2 * 2%);
}

.hr2 {
  width: calc(72% - 2 * 2 * 2%);
}

.auto-scroll-y {
  overflow-y: auto;
}
